doctype html
head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
.row.justify-content-center.mt-3
    each one in route
          - var color = "#" + one.route_color
          - var url = one.route_id + ".html"
          - var rte = "route-info/" + one.route_id
          a.card.m-2.d-flex.row.justify-content-center(href=''+rte+'' style='width: 37rem; text-decoration: none !important; font-size:12px; background-color: #fdfeff; color:#525151; box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.15);')
           .card-body.row.justify-content-start
             h1.card-title.mr-1.ml-2.display-5.p-2(style='text-align: center; color:'+color+'') #{one.route_id}
             p.ml-4.mt-3(style='text-align:left; font-size: 20px;') #{one.route_long_name}
